<div class="jumbotron">
   <h1>Bloccit</h1>
   <p>Bloccit is a resource for sharing, commenting, and learning with/from an online community!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Impeaches the President</h2>
     <p>Bloccit will kickout the orange menace from the white house</p>
   </div>
   <div class="col-md-4">
     <h2>Puts Democrats Front and Center</h2>
     <p>Bloccit will hack elections to ensure Democrats get elected</p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better rich</h2>
     <p>Bloccit will increase your salary tenfold!</p>
   </div>
 </div>
